* {
    margin: 100;
    padding: 0;
}

#herder {
    height: 50px;
}

#main {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.main-left {
    width: 50%;
    height: 1000px;
    background-color: red;
    float: left;
    
}

.main-right {
    width: 50%;
    height: 1000px;
    background-color: pink;
    float: right;
}

.section-small-margin
{
    margin-left: 4%;
}

.margin-top
{
    margin-top: 10px;
}

.section-small {
    background-color: green;
    width: 48%;
    min-height: 200px;
    float: left;
}

.section-medium {
    background-color: blue;
    width: 100%;
    min-height: 180px;
    float: left;
}

.section-large {
    background-color: yellow;
    min-height: 310px;
    width: 100%;
    float: left;
}

#footer {
    clear: both;
    height: 50px;
}