* {
    margin: 100;
    padding: 0;
}

#herder {
    height: 50px;
}

#main {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.main-left {
    width: 50%;
    min-height: 1000px;
    float: left;
    
}

.main-right {
    width: 50%;
    min-height: 1100px;
    float: right;
}



.section-small {
    background-color: green;
    width: 220px;
    min-height: 200px;
    float: left;
    border: 1px;
    border-radius: 5px;
    margin: 10px;
    transition: 0.2s;
}

.section-large:hover, .section-medium:hover, .section-small:hover{
    transform: scale(1.05);
    z-index: 10000;
}

.section-medium {
    background-color: blue;
    width: 460px;
    min-height: 200px;
    float: left;
    border: 1px;
    border-radius: 5px;
    margin: 10px;
}

.section-large {
    background-color: yellow;
    height: 310px;
    width: 460px;
    float: left;
    border: 1px;
    border-radius: 5px;
    margin: 10px;
}

#footer {
    clear: both;
    height: 50px;
}

.section-small > img{
    width: 220px;
    height: 200px;
    position: relative;
}

.section-medium > img{
    width: 460px;
}

.section-large >img{
    width: 460px;
}

video
{
    padding: 0px;
    width: 100% !important;
    height: 100% !important;
}